// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
    margin-top: 50px;
    // background-image: url("http://i.imgur.com/WRsSuw1.png");
    }
.jumbotron h1 {
     font-family: 'Unica One', cursive;
    color: white;
}

